!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Hi #{@organization.submitter_name.capitalize},
    %p Thanks for your contribution to making the mumbai startup ecosystem so vibrant.
    %p We'll review it soon and look forward to adding to the website.
    %p
      Cheers,
      %br
      Startups In Mumbai Team